{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
<div class="main">
    <h1 class="title">Profil</h1>
    <h2 class="title-profil">Ajouter une recette</h2>
    {{ form_errors(addForm) }}

    {% form_theme addForm 'form/custom_category_theme.html.twig' %}
    {{ form_start(addForm, {'attr': {'class': 'form'}}) }}
    <div class="input-group">
        {{ form_label(addForm.title) }}
        {{ form_widget(addForm.title) }}
        {{ form_errors(addForm.title) }}
    </div>
    <div class="input-group">
        {{ form_label(addForm.level) }}
        {{ form_widget(addForm.level) }}
        {{ form_errors(addForm.level) }}
    </div>
    <div class="input-group">
        {{ form_label(addForm.duration) }}
        {{ form_widget(addForm.duration) }}
        {{ form_errors(addForm.duration) }}
    </div>
    <div class="input-group">
        {{ form_label(addForm.imagePath) }}
        {{ form_widget(addForm.imagePath) }}
        {{ form_errors(addForm.imagePath) }}
    </div>
    {{ form_label(addForm.category) }}
    {{ form_widget(addForm.category) }}
    {{ form_errors(addForm.category) }}
    <div class="submit-group">
        <button class="btn" type="submit">
            Ajouter
        </button>
    </div>
    {{ form_end(addForm) }}
    <h2 class="title-profil">Mes recettes</h2>
    <div class="recipes-container">
        {% set myRecipes = get_my_recipes() %}
        {% if myRecipes %}
            {% include 'partials/_recipes_loop.html.twig' with {
                'recipes': myRecipes
            } %}
            {% else %}
            <p>Pas encore de recettes</p>
        {% endif %}
    </div>
    <a href="{{ path('app_logout') }}" class="btn-logout">Se déconnecter</a>
</div>
{% endblock %}
