{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% form_theme form 'form/custom_category_theme.html.twig' %}

{% block body %}
<div class="main">
    <h1 class="title">Profil</h1>
    <h2 class="title">Ajouter une recette</h2>

    <div>
        {% include '@CraueFormFlow/FormFlow/stepList.html.twig' %}
    </div>

    {{ form_start(form, {'attr': {'class': 'form'}}) }}
        {{ form_errors(form) }}
        {% if flow.getCurrentStepNumber() == 1 %}
            <div class="input-group">
                {{ form_label(form.title) }}
                {{ form_widget(form.title) }}
                {{ form_errors(form.title) }}
            </div>
            {{ form_label(form.level) }}
            {{ form_widget(form.level) }}
            {{ form_errors(form.level) }}
            <div class="input-group">
                {{ form_label(form.duration) }}
                {{ form_widget(form.duration) }}
                {{ form_errors(form.duration) }}
            </div>
            <div class="input-group">
                {{ form_label(form.imagePath) }}
                {{ form_widget(form.imagePath) }}
                {{ form_errors(form.imagePath) }}
            </div>
            {{ form_label(form.category) }}
            {{ form_widget(form.category) }}
            {{ form_errors(form.category) }}
        {% endif %}

        {% if flow.getCurrentStepNumber() == 2 %}
            {{ form_row(form.recipeIngredients) }}
        {% endif %}

        {% if flow.getCurrentStepNumber() == 3 %}
            <div class="input-group">
                {{ form_label(form.directives) }}
                {{ form_widget(form.directives) }}
                {{ form_errors(form.directives) }}
            </div>
        {% endif %}

        {{ form_rest(form) }}

        <div class="submit-group">
            {% include '@CraueFormFlow/FormFlow/buttons.html.twig' with {
                craue_formflow_instance: flow,
                craue_formflow_button_class_back: 'btn',
                craue_formflow_button_label_back: 'Précèdent',
                craue_formflow_button_class_next: 'btn',
                craue_formflow_button_label_next: 'Suivant',
                craue_formflow_button_class_finish: 'btn',
                craue_formflow_button_label_finish: 'Terminer',
                craue_formflow_button_render_reset: false,
            } %}
        </div>
    {{ form_end(form) }}

    <h2 class="title">Mes recettes</h2>
    <div class="recipes-container">
        {% set myRecipes = get_my_recipes() %}
        {% if myRecipes %}
            {% include 'partials/_recipes_loop.html.twig' with {
                'recipes': myRecipes
            } %}
            {% else %}
            <p>Pas encore de recette</p>
        {% endif %}
    </div>
    <a href="{{ path('app_logout') }}" class="btn-logout">Se déconnecter</a>
</div>
{% endblock %}
